<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header', { user }); %></header>

		<main>
			<div class="row">
				<div class="col-sm-8">
					<div class="jumbotron">
						<h1>Login</h1>
						<p>Sign in to this demo application using S3</p>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="well">
						<h3>Sign in form!</h3>
						<form method="post" style="display: flex; flex-direction: column; gap: 0.5rem">
							<input type="text" name="username" placeholder="username" value="admin" required />
							<button type="submit">Login</button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
